<!DOCTYPE html>
<html>

<head>
    <title><%= typeof title !== 'undefined' ? title : 'Student Management' %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <nav class="navbar">
        <div class="nav-inner">
            <div class="nav-left">
                <a href="/courses" class="nav-brand">Student Management</a>
            </div>

            <div class="nav-center">
                <a href="/courses" class="nav-link">Courses</a>
                <a href="/students" class="nav-link">Students</a>
                <a href="/teachers" class="nav-link">Teachers</a>
            </div>

            <div class="nav-right">
                <a href="/login" id="btn-login" class="btn btn-ghost small" style="display:none">Login</a>
                <button id="btn-logout" class="btn btn-ghost small" style="display:none">Logout</button>
                <div class="avatar" title="Profile">SM</div>
            </div>
        </div>
    </nav>
    <div class="container">
    <script src="/javascripts/header.js" defer></script>
