<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <nav class="navbar">
        <div class="nav-container">
            <a href="/courses" class="nav-brand">Student Management</a>
            <div class="nav-links">
                <a href="/courses">Courses</a>
            </div>
        </div>
    </nav>
    <div class="container">
